In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,2021-03-12 00:27:12,-21.2078,-159.7750,84.20,65,90,3.44
1,1,Busselton,AU,2021-03-12 00:27:13,-33.6500,115.3333,63.00,84,100,3.00
2,2,Hermanus,ZA,2021-03-12 00:27:13,-34.4187,19.2345,66.00,81,97,5.99
3,3,Westlock,CA,2021-03-12 00:27:13,54.1502,-113.8688,23.00,80,57,5.75
4,4,Rikitea,PF,2021-03-12 00:27:14,-23.1203,-134.9692,79.54,78,68,11.65

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,2021-03-12 00:27:12,-21.2078,-159.7750,84.20,65,90,3.44
4,4,Rikitea,PF,2021-03-12 00:27:14,-23.1203,-134.9692,79.54,78,68,11.65
8,8,Mahebourg,MU,2021-03-12 00:27:16,-20.4081,57.7000,78.80,83,75,3.44
15,15,Puerto Ayora,EC,2021-03-12 00:27:19,-0.7393,-90.3518,80.01,88,31,8.01
17,17,Kapaa,US,2021-03-12 00:27:20,22.0752,-159.3190,80.01,83,1,13.80
18,18,Kieta,PG,2021-03-12 00:27:21,-6.2167,155.6333,83.53,75,100,3.62
19,19,Vaini,TO,2021-03-12 00:27:21,-21.2000,-175.2000,84.20,65,20,6.91
20,20,Hilo,US,2021-03-12 00:27:20,19.7297,-155.0900,75.20,83,90,8.05
23,23,Port Blair,IN,2021-03-12 00:27:23,11.6667,92.7500,78.60,79,0,7.58
27,27,Saint-Philippe,RE,2021-03-12 00:27:25,-21.3585,55.7679,77.00,60,0,6.91

In [12]:
preferred_cities_df.count()

City_ID       171
City          171
Country       171
Date          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
dtype: int64

In [13]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0           Avarua      CK     84.20 -21.2078 -159.7750
4          Rikitea      PF     79.54 -23.1203 -134.9692
8        Mahebourg      MU     78.80 -20.4081   57.7000
15    Puerto Ayora      EC     80.01  -0.7393  -90.3518
17           Kapaa      US     80.01  22.0752 -159.3190
18           Kieta      PG     83.53  -6.2167  155.6333
19           Vaini      TO     84.20 -21.2000 -175.2000
20            Hilo      US     75.20  19.7297 -155.0900
23      Port Blair      IN     78.60  11.6667   92.7500
27  Saint-Philippe      RE     77.00 -21.3585   55.7679

In [15]:
# Import API key
from config import g_key

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Avarua,CK,84.20,-21.2078,-159.7750,Paradise Inn
4,Rikitea,PF,79.54,-23.1203,-134.9692,Pension Maro'i
8,Mahebourg,MU,78.80,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
15,Puerto Ayora,EC,80.01,-0.7393,-90.3518,Finch Bay Galapagos Hotel
17,Kapaa,US,80.01,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
18,Kieta,PG,83.53,-6.2167,155.6333,Uruna Bay Retreat
19,Vaini,TO,84.20,-21.2000,-175.2000,Keleti Beach Resort
20,Hilo,US,75.20,19.7297,-155.0900,Hilo Hawaiian Hotel
23,Port Blair,IN,78.60,11.6667,92.7500,Welcomhotel Bay Island Port Blair
27,Saint-Philippe,RE,77.00,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))