## Deliverable 2. Create a Customer Travel Destinations Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [7]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,arraial do cabo,BR,-22.9661,-42.0278,75.97,87,100,14.09,overcast clouds
1,1,punta arenas,CL,-53.1500,-70.9167,44.01,65,0,3.44,clear sky
2,2,albany,US,42.6001,-73.9662,33.01,51,1,5.14,clear sky
3,3,busselton,AU,-33.6500,115.3333,72.00,48,0,5.01,clear sky
4,4,bredasdorp,ZA,-34.5322,20.0403,64.40,82,97,3.44,overcast clouds

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,arraial do cabo,BR,-22.9661,-42.0278,75.97,87,100,14.09,overcast clouds
7,7,panama city,PA,8.9936,-79.5197,77.00,78,90,6.91,overcast clouds
9,9,rikitea,PF,-23.1203,-134.9692,80.29,74,29,9.01,scattered clouds
12,12,kawhia,NZ,-38.0651,174.8183,80.01,50,0,1.99,clear sky
14,14,isangel,VU,-19.5500,169.2667,82.40,83,90,9.22,light rain
...,...,...,...,...,...,...,...,...,...,...
560,560,bonthe,SL,7.5264,-12.5050,77.81,84,100,4.27,overcast clouds
562,562,la asuncion,VE,11.0333,-63.8628,77.00,88,95,13.80,overcast clouds
565,565,labuan,MY,5.2767,115.2417,84.20,74,20,5.75,few clouds
567,567,wattegama,LK,6.7989,81.4808,86.00,74,40,13.80,scattered clouds
568,568,gurh,IN,24.5167,81.5167,86.18,20,0,4.25,clear sky

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                141
City                   141
Country                141
Lat                    141
Lng                    141
Max Temp               141
Humidity               141
Cloudiness             141
Wind Speed             141
Current Description    141
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,arraial do cabo,BR,-22.9661,-42.0278,75.97,87,100,14.09,overcast clouds
7,7,panama city,PA,8.9936,-79.5197,77.00,78,90,6.91,overcast clouds
9,9,rikitea,PF,-23.1203,-134.9692,80.29,74,29,9.01,scattered clouds
12,12,kawhia,NZ,-38.0651,174.8183,80.01,50,0,1.99,clear sky
14,14,isangel,VU,-19.5500,169.2667,82.40,83,90,9.22,light rain
...,...,...,...,...,...,...,...,...,...,...
560,560,bonthe,SL,7.5264,-12.5050,77.81,84,100,4.27,overcast clouds
562,562,la asuncion,VE,11.0333,-63.8628,77.00,88,95,13.80,overcast clouds
565,565,labuan,MY,5.2767,115.2417,84.20,74,20,5.75,few clouds
567,567,wattegama,LK,6.7989,81.4808,86.00,74,40,13.80,scattered clouds
568,568,gurh,IN,24.5167,81.5167,86.18,20,0,4.25,clear sky

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,arraial do cabo,BR,75.97,overcast clouds,-22.9661,-42.0278,
7,panama city,PA,77.00,overcast clouds,8.9936,-79.5197,
9,rikitea,PF,80.29,scattered clouds,-23.1203,-134.9692,
12,kawhia,NZ,80.01,clear sky,-38.0651,174.8183,
14,isangel,VU,82.40,light rain,-19.5500,169.2667,
17,sulangan,PH,81.05,scattered clouds,11.1373,123.7228,
29,lorengau,PG,84.54,broken clouds,-2.0226,147.2712,
40,grand gaube,MU,78.01,light rain,-20.0064,57.6608,
45,saint-philippe,RE,80.60,light rain,-21.3585,55.7679,
47,puri,IN,82.40,haze,19.8000,85.8500,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,arraial do cabo,BR,75.97,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
7,panama city,PA,77.00,overcast clouds,8.9936,-79.5197,Hotel Riande Granada Urban
9,rikitea,PF,80.29,scattered clouds,-23.1203,-134.9692,Pension Maro'i
12,kawhia,NZ,80.01,clear sky,-38.0651,174.8183,Kawhia Beachside Scape Holiday Park
14,isangel,VU,82.40,light rain,-19.5500,169.2667,Volcano Sea View Tree House

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))