## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,hermanus,ZA,64.00,moderate rain,-34.4187,19.2345,Misty Waves Boutique Hotel
1,5,rikitea,PF,80.91,moderate rain,-23.1203,-134.9692,Pension Maro'i
2,9,vaini,TO,84.20,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
3,11,mar del plata,AR,71.01,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
4,12,camargo,MX,72.19,broken clouds,27.6667,-105.1667,Hotel Santa Fe

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for start/end city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'port lincoln']
vacation_end = vacation_df.loc[vacation_df['City'] == 'port lincoln']
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
260,540,port lincoln,AU,63.32,scattered clouds,-34.7333,135.8667,Port Lincoln Hotel

In [6]:
# 5. Create DataFrames for stop1 city by filtering the 'vacation_df' using the loc method. 
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'flinders']
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
252,513,flinders,AU,66.0,clear sky,-34.5833,150.8552,Shellharbour Resort & Conference Centre

In [7]:
# 5. Create DataFrames for stop2 city by filtering the 'vacation_df' using the loc method. 
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'kununurra']
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
139,282,kununurra,AU,75.2,scattered clouds,-15.7667,128.7333,Hotel Kununurra

In [8]:
# 5. Create DataFrames for stop3 city by filtering the 'vacation_df' using the loc method. 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'geraldton'] 
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
109,228,geraldton,AU,75.2,clear sky,-28.7667,114.6,Broadwater Mariner Resort

In [9]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

start

array([-34.7333, 135.8667], dtype=object)

In [10]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(-30, 135), zoom_level=4)
port_lincoln = start
flinders = stop1
kununurra = stop2
geraldton = stop3 
roadtrip = gmaps.directions_layer(port_lincoln, port_lincoln, 
                                  waypoints=[flinders, kununurra, geraldton],
                                  travel_mode="DRIVING")

# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(marker_layer)
fig.add_layer(roadtrip)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,540,port lincoln,AU,63.32,scattered clouds,-34.7333,135.8667,Port Lincoln Hotel
1,513,flinders,AU,66.00,clear sky,-34.5833,150.8552,Shellharbour Resort & Conference Centre
2,282,kununurra,AU,75.20,scattered clouds,-15.7667,128.7333,Hotel Kununurra
3,228,geraldton,AU,75.20,clear sky,-28.7667,114.6000,Broadwater Mariner Resort

In [12]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(-30, 135), zoom_level=2.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))